In [1]:
import pandas as pd

In [2]:
# 1
s1 = pd.Series([10, 20, 30, 40, 50])
print(type(s1))
print(s1)

<class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# 2
s2 = pd.Series({"a":1, "b":2, "c":3, "d":4, "e":5})
print(type(s2))
print(s2)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
# 3
s3 = pd.Series({"학생1": "둘리",
                "학생2": "또치",
                "학생3": "도우너",
                "학생4": "희동이",
                "학생5": "마이콜",})
print(type(s3))
print(s3)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [5]:
# 4
s4 = pd.Series(["둘리", "또치", "도우너", "희동이", "마이콜"], 
               index=["학생1", "학생2", "학생3", "학생4", "학생5"])
print(type(s4))
print(s4)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [6]:
# 5
blood = ["A형", "B형", "O형", "AB형"]
st = [34.2, 27.1, 26.7, 11.5]
sr = pd.Series(st, index=blood)

print("[시리즈 sr 출력]")
print(sr)

print("[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]")
print(sr[0])
print(sr[-1])
print(sr[1])
print(sr[1:4])

print("[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]")
print(sr["A형"])
print(sr["AB형"])
print(sr["B형"])
print(sr["B형":"AB형"])

print("[시리즈 sr의 크기 출력]")
print(len(sr))

print("[시리즈 sr의 인덱스 출력]")
print(sr.index)

print("[시리즈 sr의 데이터 값 출력]")
print(sr.values)

[시리즈 sr 출력]
A형     34.2
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr의 크기 출력]
4
[시리즈 sr의 인덱스 출력]
Index(['A형', 'B형', 'O형', 'AB형'], dtype='object')
[시리즈 sr의 데이터 값 출력]
[34.2 27.1 26.7 11.5]

In [7]:
# 6
df1 = pd.DataFrame({"name": ["둘리", "또치", "도우너", "희동이"],
                    "kor": [90, 80, 70, 70],
                    "eng": [99, 98, 97, 46], 
                    "mat": [90, 70, 70, 60]})

print("타입:", type(df1))
print(df1)

타입: <class 'pandas.core.frame.DataFrame'>
  name  kor  eng  mat
0   둘리   90   99   90
1   또치   80   98   70
2  도우너   70   97   70
3  희동이   70   46   60

In [8]:
# 7
df2 = pd.DataFrame({"name": ["둘리", "또치", "도우너", "희동이"],
                    "kor": [90, 80, 70, 70],
                    "eng": [99, 98, 97, 46], 
                    "mat": [90, 70, 70, 60]},
                  index=["학생1", "학생2", "학생3", "학생4"])

print("타입:", type(df2))
print(df2)

타입: <class 'pandas.core.frame.DataFrame'>
    name  kor  eng  mat
학생1   둘리   90   99   90
학생2   또치   80   98   70
학생3  도우너   70   97   70
학생4  희동이   70   46   60

In [10]:
# 8
df2.rename(columns={"name": "dooly",
                    "kor": "doochi",
                    "eng": "dounar", 
                    "mat": "heedong"}, inplace=True)
print(df2)

    dooly  doochi  dounar  heedong
학생1    둘리      90      99       90
학생2    또치      80      98       70
학생3   도우너      70      97       70
학생4   희동이      70      46       60

In [15]:
# 8 --> answer 
df2.rename(columns={"name": "dooly", "kor": "doochi", "eng": "dounar", "mat": "heedong"}, 
           index={"학생1": "st1", "학생2": "st2", "학생3": "st3", "학생4": "st4"},
           inplace=True)
print(df2)

    dooly  doochi  dounar  heedong
st1    둘리      90      99       90
st2    또치      80      98       70
st3   도우너      70      97       70
st4   희동이      70      46       60

In [16]:
# 9
data = {
    'name':['듀크1', '듀크2', '듀크3', '듀크4', '듀크5', '듀크6', '듀크7'],
    'kor':[90, 80, 70, 70, 60, 70, 90],
    'eng':[99, 98, 97, 46, 77, 56, 90],
    'mat':[90, 70, 70, 60, 88, 99, 90],
}

df = pd.DataFrame(data)

In [17]:
# 9-1
print(df.head(5))

# 9-2
print(df.tail(5))

# 9-3
print(df.columns)

  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
  name  kor  eng  mat
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90
Index(['name', 'kor', 'eng', 'mat'], dtype='object')

In [21]:
# answer
# 9-1
print(df[:5])

# 9-2
print(df[-5:])

  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
  name  kor  eng  mat
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90

In [12]:
# 9-4
print(df["name"])

# 9-5
print(df.eng)

# 9-6
print(df[["kor", "mat"]])

0    듀크1
1    듀크2
2    듀크3
3    듀크4
4    듀크5
5    듀크6
6    듀크7
Name: name, dtype: object
0    99
1    98
2    97
3    46
4    77
5    56
6    90
Name: eng, dtype: int64
   kor  mat
0   90   90
1   80   70
2   70   70
3   70   60
4   60   88
5   70   99
6   90   90

In [22]:
# 9-7
print("iloc 인덱서를 사용하여 네 번째 행을 출력한다")
print(df.iloc[3])

# 9-8
print("\niloc 인덱서를 사용하여 첫 번째 행, 첫 번째 열을 출력한다")
print(df.iloc[0,0])

# 9-9
print("\niloc 인덱서를 사용하여 네 번째 행, 세 번째 열을 출력한다")
print(df.iloc[3,2])

# 9-10
print("\niloc 인덱서를 사용하여 세 번째와 네 번째 행의 세 번째 열을 출력한다")
print(df.iloc[2:4,2]) 

# 9-11
print("\niloc 인덱서를 사용하여 세 번째와 네 번째 행의 세 번째와 네 번째열을 출력한다")
print(df.iloc[2:4,2:4])

iloc 인덱서를 사용하여 네 번째 행을 출력한다
name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object

iloc 인덱서를 사용하여 첫 번째 행, 첫 번째 열을 출력한다
듀크1

iloc 인덱서를 사용하여 네 번째 행, 세 번째 열을 출력한다
46

iloc 인덱서를 사용하여 세 번째와 네 번째 행의 세 번째 열을 출력한다
2    97
3    46
Name: eng, dtype: int64

iloc 인덱서를 사용하여 세 번째와 네 번째 행의 세 번째와 네 번째열을 출력한다
   eng  mat
2   97   70
3   46   60

In [23]:
# 9-12
print("\nloc 인덱서를 사용하여 네 번째 행을 출력한다")
print(df.loc[3])

# 9-13
print("\nloc 인덱서를 사용하여 첫 번째 행, 첫 번째 열을 출력한다")
print(df.loc[0,"name"])

# 9-14
print("\nloc 인덱서를 사용하여 네 번째 행, 세 번째 열을 출력한다")
print(df.loc[3,"eng"])

# 9-15
print("\nloc 인덱서를 사용하여 세 번째와 네 번째 행의 세 번째 열을 출력한다")
print(df.loc[2:3,"eng"])

# 9-16
print("\nloc 인덱서를 사용하여 세 번째와 네 번째 행의 세 번째와 네 번째열을 출력한다")
print(df.loc[2:3,"eng":"mat"])

loc 인덱서를 사용하여 네 번째 행을 출력한다
name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object

loc 인덱서를 사용하여 첫 번째 행, 첫 번째 열을 출력한다
듀크1

loc 인덱서를 사용하여 네 번째 행, 세 번째 열을 출력한다
46

loc 인덱서를 사용하여 세 번째와 네 번째 행의 세 번째 열을 출력한다
2    97
3    46
Name: eng, dtype: int64

loc 인덱서를 사용하여 세 번째와 네 번째 행의 세 번째와 네 번째열을 출력한다
   eng  mat
2   97   70
3   46   60

In [14]:
# 10
df.set_index("name", inplace=True)
print(df)

      kor  eng  mat
name
듀크1    90   99   90
듀크2    80   98   70
듀크3    70   97   70
듀크4    70   46   60
듀크5    60   77   88
듀크6    70   56   99
듀크7    90   90   90