In [1]:
import pandas as pd

In [2]:
# 1
data = {
    'name': ['둘리', '또치', '도우너', '희동이'],
    'kor': [90, 80, 70, 70],
    'eng': [99, 98, 97, 46],
    'mat': [90, 70, 70, 60],
}
df = pd.DataFrame(data)

df["class"] = ["1반", "2반", "1반", "2반"]
print(df)

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반

In [3]:
# 2
df.loc[4] = ["마이콜", 80, 80, 80, "1반"]
print(df)

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반
4  마이콜   80   80   80    1반

In [4]:
dfCopy = df.copy()

In [5]:
# 3
df.set_index("name", inplace=True)
df.rename(columns={"kor":"국어", "eng":"영어", "mat":"수학", "class":"반번호"}, inplace=True)
print(df)

      국어  영어  수학 반번호
name
둘리    90  99  90  1반
또치    80  98  70  2반
도우너   70  97  70  1반
희동이   70  46  60  2반
마이콜   80  80  80  1반

In [6]:
# 3 answer
dfCopy.set_index("name", inplace=True)
dfCopy.columns = ["국어", "영어", "수학", "반번호"]
print(dfCopy)

      국어  영어  수학 반번호
name
둘리    90  99  90  1반
또치    80  98  70  2반
도우너   70  97  70  1반
희동이   70  46  60  2반
마이콜   80  80  80  1반

In [7]:
# 4
df.loc["마이콜","국어":"수학"] = 100
df.loc["희동이","영어"] = 90
print(df)

       국어   영어   수학 반번호
name
둘리     90   99   90  1반
또치     80   98   70  2반
도우너    70   97   70  1반
희동이    70   90   60  2반
마이콜   100  100  100  1반

In [8]:
# 4 answer
dfCopy.loc["마이콜", "국어":"수학"] = 100
dfCopy.iloc[3,1] = 90
print(dfCopy)

       국어   영어   수학 반번호
name
둘리     90   99   90  1반
또치     80   98   70  2반
도우너    70   97   70  1반
희동이    70   90   60  2반
마이콜   100  100  100  1반

In [9]:
dfCopy.index.name

'name'

In [10]:
# 5
df.reset_index(inplace=True)
print(df)

print("="*30)

df.rename(columns={"name":"성명"}, inplace=True)
print(df)

  name   국어   영어   수학 반번호
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
4  마이콜  100  100  100  1반
==============================
    성명   국어   영어   수학 반번호
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
4  마이콜  100  100  100  1반

In [11]:
# 6
df1 = df.sort_values("국어", ascending=False)
print(df1)

print("="*30)

df2 = df.sort_values("영어", ascending=True)
print(df2)

    성명   국어   영어   수학 반번호
4  마이콜  100  100  100  1반
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
==============================
    성명   국어   영어   수학 반번호
3  희동이   70   90   60  2반
2  도우너   70   97   70  1반
1   또치   80   98   70  2반
0   둘리   90   99   90  1반
4  마이콜  100  100  100  1반

In [12]:
# 7
df["총점"] = df["국어"] + df["영어"] + df["수학"]
df.sort_values("총점", inplace=True, ascending=False)
print(df)

    성명   국어   영어   수학 반번호   총점
4  마이콜  100  100  100  1반  300
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220

In [14]:
# 7 answer
dfCopy = df.copy()
dfCopy["총점"] = df.국어 + df.영어 + df.수학
dfCopy.sort_values(by="총점", ascending=False, inplace=True)
print(dfCopy)

    성명   국어   영어   수학 반번호   총점
4  마이콜  100  100  100  1반  300
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220

In [15]:
# 8
df3 = df.drop("반번호", axis=1)
print(df3)

print("="*30)

print(df)

    성명   국어   영어   수학   총점
4  마이콜  100  100  100  300
0   둘리   90   99   90  279
1   또치   80   98   70  248
2  도우너   70   97   70  237
3  희동이   70   90   60  220
==============================
    성명   국어   영어   수학 반번호   총점
4  마이콜  100  100  100  1반  300
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220

In [16]:
# 9
df4 = df.drop(4, axis=0)

print(df4)

print("="*30)

print(df)

    성명  국어  영어  수학 반번호   총점
0   둘리  90  99  90  1반  279
1   또치  80  98  70  2반  248
2  도우너  70  97  70  1반  237
3  희동이  70  90  60  2반  220
==============================
    성명   국어   영어   수학 반번호   총점
4  마이콜  100  100  100  1반  300
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220

In [17]:
# 10
data1 = {'kor':90, 'mat':80}
data2 = {'kor':90, 'eng':70}
data3 = {'kor':90, 'eng':70, 'mat':80}
series1 = pd.Series(data1)
series2 = pd.Series(data2)
series3 = pd.Series(data3)
result = series1 + series2 + series3
print(result)

print("="*30)

# data1에는 eng값이 주어지지 않았고, data2에는 mat값이 주어지지 않음
# 주어지지 않은 값은 NaN으로 처리됨
# 연산할 때 NaN이 있으면 결과는 NaN임

result = series1.add(series2, fill_value=0).add(series3, fill_value=0)
print(result)

eng      NaN
kor    270.0
mat      NaN
dtype: float64
==============================
eng    140.0
kor    270.0
mat    160.0
dtype: float64

In [18]:
# 11
data = {
    'X1':[2.9, 2.4, 2, 2.3, 3.2],
    'X2':[9.2, 8.7, 7.2, 8.5, 9.6],
    'X3':[13.2, 11.5, 10.8, 12.3, 12.6],
    'X4':[2, 3, 4, 3, 2]
} 
df = pd.DataFrame(data, index=['Y1','Y2','Y3','Y4','Y5'])
print(df)

     X1   X2    X3  X4
Y1  2.9  9.2  13.2   2
Y2  2.4  8.7  11.5   3
Y3  2.0  7.2  10.8   4
Y4  2.3  8.5  12.3   3
Y5  3.2  9.6  12.6   2

In [19]:
dfCopy = df.copy()

In [22]:
df.loc["Y6"] = [10, 20, 30, 40]
print(df)

      X1    X2    X3  X4
Y1   2.9   9.2  13.2   2
Y2   2.4   8.7  11.5   3
Y3   2.0   7.2  10.8   4
Y4   2.3   8.5  12.3   3
Y5   3.2   9.6  12.6   2
Y6  10.0  20.0  30.0  40

In [23]:
df = df + 10
print(df)

      X1    X2    X3  X4
Y1  12.9  19.2  23.2  12
Y2  12.4  18.7  21.5  13
Y3  12.0  17.2  20.8  14
Y4  12.3  18.5  22.3  13
Y5  13.2  19.6  22.6  12
Y6  20.0  30.0  40.0  50

In [24]:
df["total"] = df["X1"] + df["X2"] + df["X3"] + df["X4"]
print(df)

      X1    X2    X3  X4  total
Y1  12.9  19.2  23.2  12   67.3
Y2  12.4  18.7  21.5  13   65.6
Y3  12.0  17.2  20.8  14   64.0
Y4  12.3  18.5  22.3  13   66.1
Y5  13.2  19.6  22.6  12   67.4
Y6  20.0  30.0  40.0  50  140.0

In [25]:
df = df.transpose()
print(df)

         Y1    Y2    Y3    Y4    Y5     Y6
X1     12.9  12.4  12.0  12.3  13.2   20.0
X2     19.2  18.7  17.2  18.5  19.6   30.0
X3     23.2  21.5  20.8  22.3  22.6   40.0
X4     12.0  13.0  14.0  13.0  12.0   50.0
total  67.3  65.6  64.0  66.1  67.4  140.0

In [26]:
dfCopy.loc["Y6"] = [10, 20, 30, 40]
dfCopy = dfCopy + 10

In [27]:
dfCopy["total"] = dfCopy.X1 + dfCopy.X2 + dfCopy.X3 + dfCopy.X4
print(dfCopy)

      X1    X2    X3  X4  total
Y1  22.9  29.2  33.2  22  107.3
Y2  22.4  28.7  31.5  23  105.6
Y3  22.0  27.2  30.8  24  104.0
Y4  22.3  28.5  32.3  23  106.1
Y5  23.2  29.6  32.6  22  107.4
Y6  20.0  30.0  40.0  50  140.0

In [28]:
dfCopy = dfCopy.T
print(dfCopy)

          Y1     Y2     Y3     Y4     Y5     Y6
X1      22.9   22.4   22.0   22.3   23.2   20.0
X2      29.2   28.7   27.2   28.5   29.6   30.0
X3      33.2   31.5   30.8   32.3   32.6   40.0
X4      22.0   23.0   24.0   23.0   22.0   50.0
total  107.3  105.6  104.0  106.1  107.4  140.0